@font-face {
  font-family: NSRoundBold;
  font-style: normal;
  src: url('../assets/fonts/NanumSquareRoundB.woff2') format('woff2');
}

@font-face {
  font-family: NSRoundRegular;
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/NanumSquareRoundR.woff2') format('woff2');
}
