@font-face {
  font-family: NSRoundBold;
  font-style: normal;
  src: local(NanumSquareRoundB);
  src: url('../assets/fonts/NanumSquareRoundB.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: NSRoundRegular;
  font-style: normal;
  src: local(NanumSquareRoundR);
  src: url('../assets/fonts/NanumSquareRoundR.woff2') format('woff2');
  font-display: fallback;
}
